{# OrehaERP - ${user} - ${nameAndExt} - ${encoding} #}
{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
    {{ form_widget(form) }}
        
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{{ 'registration.submit'|trans }}</button>
        <a class="btn" href="{{ path('oreha_erp_admin_users_index') }}">Annuler</a>
    </div>
</form>
