{# 
 *  OrehaERP - allan.irdel
 *  orehaAdminTemplate.twig.html - utf8
#}
{% if is_granted('ROLE_SUPER_ADMIN') %}
<!DOCTYPE html>
<html>
    <head>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Administration{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/datetimepicker.css') }}" type="text/css" />
        <style>
            .navbar-search .search-query {
                padding-left: 29px;
            }

            .navbar-search .icon-search {
                position: absolute;
                top: 7px;
                left: 11px;
            }
        </style>
        {% block stylesheets %}
        {% endblock stylesheets %}
    </head>
    <body>
        {% block navbar %}
        <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <a class="brand" href="{{ path('oreha_erp_admin') }}"><img src="{{ asset('img/logo.small.png') }}"> Administration</a>
                    <ul class="nav">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-cog"></i> Configuration <strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('oreha_erp_source') }}"><i class="icon-briefcase"></i> Sources de prospects</a></li>
                                <li><a href="{{ path('oreha_erp_bundle_courrier') }}"><i class="icon-edit"></i> Modèles de courriers</a></li>
                                <li><a href="{{ path('oreha_admin_famille_cee') }}"><i class="icon-hand-up"></i> Familles de CEE</a></li>
                                <li><a href="{{ path('oreha_admin_famille_prestation') }}"><i class="icon-shopping-cart"></i> Familles de prestations</a></li>
                                <li><a href="{{ path('oreha_admin_famille_declaration') }}"><i class="icon-file"></i> Familles de déclarations</a></li>
                            </ul>
                        </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-cog"></i>Outils<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('oreha_admin_reload_dossiers') }}"><i class="icon-globe"></i>Recharger les permissions des dossiers</a></li>
                        </ul>
                    </li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-user"></i> Utilisateurs <strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('oreha_erp_admin_users_index') }}"><i class="icon-user"></i> Utilisateurs</a></li>
                                <li><a href="{{ path('oreha_erp_admin_group') }}"><i class="icon-globe"></i> Groupes</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-text pull-right">
                        <li><a href="#"><span class="icon-user"></span> Bienvenue {{ app.user.fullName}}</a></li>
                        <li><a href="{{ path('oreha_erp_homepage') }}"><span class="icon-arrow-left"></span> Retour</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    {% endblock navbar %}
    {% block body %}{% endblock %}
    {% block javascripts %}
    {% include '::js.html.twig' %}
            <script type="text/javascript">
                $(document).ready(function(){
                   $('.islink').click(function(){
                        var url = $(this).attr('id');
                        window.location.replace(url); 
                   });
                });
            </script>
    {% endblock javascripts %}
    </body>
</html>
{%endif%}
